{# templates/security/reset_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Wachtwoord resetten{% endblock %}

{% block body %}
    <div class="container mt-5" style="max-width: 400px;">
        <h1 class="mb-4">Nieuw wachtwoord instellen</h1>

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for msg in messages %}{{ msg }}{% endfor %}
            </div>
        {% endfor %}

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword.first) }}
        {{ form_row(resetForm.plainPassword.second) }}
        <div class="mt-3">
            {{ form_row(resetForm.submit) }}
        </div>
        {{ form_end(resetForm) }}

        <p class="mt-3">
            <a href="{{ path('app_login') }}">Terug naar inloggen</a>
        </p>
    </div>
{% endblock %}
